<% content_for :page_title do %>
   <%= Spree.t(:blog_entries) %><i class="icon-arrow-right"></i> <%= Spree.t(:editing) %> "<%= @blog_entry.title %>"
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back), spree.admin_blog_entries_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render "spree/shared/error_messages", :target => @blog_entry %>

<%= form_for [:admin, @blog_entry] do |f| %>
  <%= render :partial => f %>

  <% if @blog_entry.id %>
    <%= link_to Spree.t("i18n.translations"), admin_translations_path('blog_entry', @blog_entry.id),
    class: 'button icon_link with-tip icon-flag',
    style: 'padding-top: 8px; margin-top: 8px; display: inline-block;' %>
  <% end %>

  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
